@import "fonts";

@yellow: #ffea00;



a{
    text-decoration: none;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
    
    @media (max-width: 1199px){ 
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
    }
}

.wrapper-padding_left{
    @media (max-width: 1199px){
        padding-left: 35px;
    }
    
    @media (max-width: 576px){
        padding-left: 15px;
    }
}

.position-absolute{
    position: absolute;
    top: 0;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.bold { 
    font-weight: 700;
}

// Popup 

.popup{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    transition: all 1s;
    
    form{
        width: 280px;
        height: 280px;
        margin: auto auto;
        padding: 30px;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 25px;
        position: relative;
        
        .buttonClose{
            position: absolute;
            background-color: #fff;
            height: 40px;
            width: 40px;
            line-height: 40px;
            font-size: 22px;
            border-radius: 50%;
            text-align: center;
            top: -30px;
            right: -30px;
            cursor: pointer;
            
            @media (max-width: 576px){
                top: -23px;
                right: -23px;
                transform: scale(0.8);
            }
        }
        
        input[type='text']{
            display: block;
            width: 100%;
            box-sizing: border-box;
            height: 40px;
            padding-left: 10px;
            padding-right: 10px;
            outline: none;
            margin-bottom: 20px;
        }
        
        input[type='submit']{
            background-color: #f9bf3a;
            border-radius: 23px;
            height: 40px;
            width: 100%;
            text-align: center;
            border: none;
            color: #fff;
            outline: none;
            cursor: pointer;
        }
        }
        
    }
    
    .active{
        visibility: visible;
        opacity: 1;
    }
    
    .passive{
        visibility: hidden;
        opacity: 0;
    }

    .message{
        text-align: center;
        padding-top: 30px;
    }
    
    // slider sliders only
    
    .slider-container{
        width: 100%;
        height: 100vh;
    }
    
    .slider{
        width: 100%;
        height: 100vh;
        position: relative;
        
        &-firstslide{
            height: 100vh;
            background: url('../img/slide1.png') bottom center no-repeat;
            background-size: cover;
            outline: none;
        }
        
        &-secondslide{
            height: 100vh;
            background: url('../img/slide2.png') bottom center no-repeat;
            background-size: cover;
            outline: none;
        }
        
        &:after{
            content: ''; 
            position: absolute; 
            right: 0;
            top: 50%;
            transform:translateY(-50%);
            border: 100px solid transparent;
            border-right: 100px solid #fff;
            z-index: 1;
            
            @media (max-width: 719px){
                display: none;
            }
            
        }
        
        &:before{
            content: ''; 
            position: absolute; 
            left: 0;
            top: 50%;
            transform:translateY(-50%);
            border: 100px solid transparent;
            border-left: 100px solid #fff;
            z-index: 1;
            
            @media (max-width: 719px){
                display: none;
            }
        }
    }
    
    .slick-next {
        top: 50%;
        height: 200px;
        width: 88px;
        transform: rotate(180deg) translateY(50%);
        background:  url("../img/arrow.png") no-repeat center;
        right: 0;
        z-index: 2;
        
        &:hover{
            background-image: url('../img/activearrow.png');
            transform: rotate(0deg) translateY(-50%);
        }
    }
    
    .slick-prev {
        top: 50%;
        height: 200px;
        width: 88px;
        transform:translateY(-50%);
        background: url("../img/arrow.png") no-repeat center;
        z-index: 2;
        
        &:hover{
            background-image: url('../img/activearrow.png');
            transform: rotate(180deg) translateY(50%);
        }
    }
    
    // Header logo and menu
    
    .header-flex{
        display: flex;
        justify-content: space-between;
        padding-top: 32px;
        
        @media (max-width: 576px){
            padding-top: 10px;
            background-color: #fff;
        }
    }
    
    .logo-link{
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;
        color: #fff;
        text-shadow: 2px 2px 5px black;
        letter-spacing: 0.9px;
        &-name{
            display: block;
            color: @yellow;
            font-family: "Fira Sans";
            font-size: 48px;
            font-weight: 700;
            line-height: 52px;
            text-transform: uppercase;
            letter-spacing: normal;
        }
        
        @media (max-width: 576px){
            font-size: 18px;
            line-height: 20px;
            
            &-name{
                font-size: 30px;
                line-height: 40px;
            }
        }
    }
    
    .header-menu{
        display: flex;
        align-items: center;
        padding-top: 1px;
        
        a {
            display: inline-block;
            font-family: Roboto;
            font-size: 30px;
            font-weight: 300;
            text-transform: uppercase;
            color: #111;
            position: relative;
            
            &:hover{
                color: @yellow;
                
                &:after{
                    width: 100%;
                }
            }
            
            &:after{
                content: '';
                display: block;
                position: absolute;
                height: 4px;
                bottom: -10px;
                width: 0;
                background-color: @yellow;
                transition: width 0.8s;
            }
        }
        
        .divinder{
            height: 22px;
            width: 1px;
            background-color: #fff;
            margin-right: 27px;
            margin-left: 25px;
        }
        
        @media (max-width: 991px){
            a {
                font-size: 20px;
            }
        }
        
        @media (max-width: 576px){
            flex-direction: column;
            background-color: #fff;
            
            .divinder{
                display: none;
            }

            .header-menu__item-border{
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid #111;
                width: 100%;
                text-align: center;
            }
        }
    }

    
    .phone-button{
        text-align: right;
        
        a {
            display: inline-block;
            width: 245px;
            height: 45px;
            margin-top: 33px;
            background-color:#fff;
            border-radius: 23px;
            text-align: center;
            line-height: 45px;
            color: #f9bf3a;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            
            &:hover{
                color: #fff;
                background-color: #f9bf3a;
            }
        }
        
        @media (max-width: 576px){
            text-align: center;
            a {
                margin: 0 auto;
                height: auto;
                font-family: Roboto;
                font-size: 20px;
                font-weight: 300;
                line-height: 20px;
                text-transform: uppercase;
                color: #111;
            }
        }
    }
    
    .togglemenu{
        @media (max-width: 576px){
            position: absolute;
            width: 100%;
            background-color: #fff;
            opacity: 0;
            top: 70px;
            left: 0px;
            visibility: hidden;
            transform: scaleY(1);
            transform-origin: 0 0;
            transition: .5s ease-in-out;
            padding-top: 10px;
            padding-bottom: 10px;
            box-sizing: border-box;
            border-top: 1px solid #111;
            border-bottom: 1px solid #111;
        }
    }
    
    .menu-on{
        @media (max-width: 576px){
            opacity: 1;
            transform: scaleY(1);
            visibility: visible;
        }
    }
    
    .toggle-active {
        width: 28px;
        height: 14px;
        margin-top: 20px;
        margin-bottom: 8px;
        margin-right: 10px;
        box-sizing: border-box;
        display: none;
        
        @media (max-width: 576px){
            display: inline-block;
        }
    }
    
    .toggle-active span:after,
    .toggle-active span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
    }
    .toggle-active span:after{
        top: 9px;
    }
    
    .toggle-active span {
        position: relative;
        display: block;
    }
    
    .toggle-active span,
    .toggle-active span:after,
    .toggle-active span:before {
        width: 100%;
        height: 4px;
        background-color: #1d275a;
        transition: all 0.3s;
        border-radius: 2px;
    }
    
    
    .toggle-active.on span {
        background-color: transparent;
    }
    
    .toggle-active.on span:before {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    .toggle-active.on span:after {
        transform: rotate(-45deg) translate(7px, -8px);
    }
    
    // main info.
    
    .main-flex{
        display: flex;
        justify-content: flex-start;
        padding-top: 80px;
        
        @media (max-width: 1199px){
            padding-top: 60px;
        }
        
        @media (max-width: 767px){
            padding-top: 30px;
        }
        
        @media (max-width: 576px){
            flex-direction: column;
            padding-top: 15px;
        }
    }
    
    main{
        overflow-x: hidden;
    }
    
    h6 {
        color: #222;
        font-family: Roboto;
        font-size: 30px;
        font-weight: 700;
        line-height: 52px;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        
        @media (max-width: 991px){
            font-size: 23px;
        }
        
        @media (max-width: 576px){
            font-size: 20px;
        }
    }
    
    .title{
        display: inline-block;
        
        &-line:after{
            content: '';
            position: absolute;
            height: 4px;
            right: 0;
            left: -9999px;
            background-color: @yellow;
            bottom: -18px;
        }
        
        @media (max-width: 767px){
            &-line:after{
                bottom: 0px;
            }
        }
    }
    
    .main-right{
        @media (max-width: 1199px){ 
            width: 60%;
            padding-left: 20px;
        }
        
        @media (max-width: 576px){
            width: 100%;
            padding-left: 0;
        }
    }
    
    
    .main-right__text{
        display: inline-block;
        width: 832px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: justify;
        padding-top: 68px;
        letter-spacing: 0px;
        
        .maint-right__text--padding_top{
            padding-top: 30px;
        }
        
        @media (max-width: 1199px){
            width: 100%;
        }
        
        @media (max-width: 767px){
            font-size: 14px;
            padding-top: 25px;
            line-height: 22px;
            .maint-right__text--padding_top{
                padding-top: 15px;
            }
        }
        
    }
    
    .main-left{
        margin-left: 138px;
        padding-top: 2px;
        position: relative;
        
        ul{
            padding-top: 16px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
            li:first-child{
                font-size: 16px;
            }
        }
        
        &:after{
            content: '';
            background-color: #f5f5f5;
            height: 337px;
            position: absolute;
            top: -80px;
            left: -32px;
            right: -9999px;
            z-index: -1;
        }
        
        @media (max-width: 1199px){ 
            margin-left: 138px;
        }
        
        @media (max-width: 576px){
            padding-top: 15px;
            margin-left: 0;
            
            &:after{
                height: 100%;
                top: 15px;
            }
            
            ul{
                padding-top: 0;
            }
        }
    }
    
    // parh with address and map 
    
    .address{
        padding-top: 61px;
        padding-bottom: 51px;
        color: #222;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        
        img{
            padding-top: 1px;
            margin-right: 9px;
        }
        
        @media (max-width: 767px){
            padding-top: 10px;
            padding-bottom: 20px;
        }
    }
    
    .map{
        padding-top: 78px;
        
        @media (max-width: 767px){
            padding-top: 30px;
        }
    }
    
    #map{
        height: 431px;
        width: 100%;
        
        @media (max-width: 767px){
            height: 250px;
        }
        
        @media (max-width: 1199px){
            height: 150px;
        }
    }
    
    // footer
    
    footer{
        text-align: center;
        color: #777;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        padding-top: 35px;
        padding-bottom: 28px;
        
        @media (max-width: 1199px){
            padding-top: 15px;
            padding-bottom: 13px;
        }
    }